@import "tailwindcss";

@theme {
    /** Base color-darks */
    --color-dark-a0: #000000;
    --color-light-a0: #ffffff;
    
    /** Theme primary colors (Lime) */
    --color-primary-a0: #14c400;
    --color-primary-a10: #4acb35;
    --color-primary-a20: #69d253;
    --color-primary-a30: #82d96d;
    --color-primary-a40: #99e086;
    --color-primary-a50: #afe79e;
    
    /** Theme surface colors */
    --color-surface-a0: #ffffff;
    --color-surface-a10: #f0f0f0;
    --color-surface-a20: #e1e1e1;
    --color-surface-a30: #d3d3d3;
    --color-surface-a40: #c5c5c5;
    --color-surface-a50: #b6b6b6;
    
    /** Theme tonal surface colors */
    --color-surface-tonal-a0: #f7fee7; /* light lime tint */
    --color-surface-tonal-a10: #ecfccb;
    --color-surface-tonal-a20: #d9f99d;
    --color-surface-tonal-a30: #bef264;
    --color-surface-tonal-a40: #a3e635;
    --color-surface-tonal-a50: #84cc16;
    
    /* vDark */
    
    /** Theme primary color-darks (Lime) */
    --color-dark-primary-a0: #14c400;
    --color-dark-primary-a10: #4acb35;
    --color-dark-primary-a20: #69d253;
    --color-dark-primary-a30: #82d96d;
    --color-dark-primary-a40: #99e086;
    --color-dark-primary-a50: #afe79e;
    
    /** Theme surface color-darks */
    --color-dark-surface-a0: #121212;
    --color-dark-surface-a10: #282828;
    --color-dark-surface-a20: #3f3f3f;
    --color-dark-surface-a30: #575757;
    --color-dark-surface-a40: #717171;
    --color-dark-surface-a50: #8b8b8b;
    
    /** Theme tonal surface color-darks */
    --color-dark-surface-tonal-a0: #1a2e05;
    --color-dark-surface-tonal-a10: #365314;
    --color-dark-surface-tonal-a20: #4d7c0f;
    --color-dark-surface-tonal-a30: #65a30d;
    --color-dark-surface-tonal-a40: #84cc16;
    --color-dark-surface-tonal-a50: #a3e635;
}
